<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">

    <h1><f:translate key="LLL:EXT:be_permissions/Resources/Private/Language/locallang_mod.xlf:mod.title" /></h1>

    <div class="row row-group-buttons">
        <div class="col">
            <a href="{be:moduleLink(route:'system_bepermissions', arguments:'{action: \'synchronizeAllRemote\', identifier:\'{group.identifier}\'}')}" class="btn btn-default">Synch all from remote</a>
            <a href="{be:moduleLink(route:'system_bepermissions', arguments:'{action: \'exportAll\', identifier:\'{group.identifier}\'}')}" class="btn btn-default">Export all to yaml files</a>
        </div>
    </div>

    <div class="table-fit">
        <table id="typo3-backend-user-list-compare" class="table table-hover">
            <thead>
            <tr>
                <th class="col-icon"></th>
                <th><f:translate key="LLL:EXT:be_permissions/Resources/Private/Language/locallang_mod.xlf:mod.index.groupTitle" /></th>
                <th><f:translate key="LLL:EXT:be_permissions/Resources/Private/Language/locallang_mod.xlf:mod.index.identifier" /></th>
                <th class="col-control"></th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{beGroups}" as="group">
                <tr>
                    <td class="col-icon">
                        <a href="#" class="t3js-contextmenutrigger" data-table="be_usergroup" data-uid="{group.uid}" title="id={group.uid}">
                            <core:iconForRecord table="be_groups" row="{group}"/>
                        </a>
                    </td>
                    <td class="title">
                        {group.title}
                    </td>
                    <td class="nowrap-disabled">
                        {group.identifier}
                    </td>
                    <td class="col-control">
                        <div class="btn-group" role="group">
                            <a href="{be:moduleLink(route:'system_bepermissions', arguments:'{action: \'synchronizeRemote\', identifier:\'{group.identifier}\'}')}" class="btn btn-default">Synch from remote</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a href="{be:moduleLink(route:'system_bepermissions', arguments:'{action: \'detail\', identifier:\'{group.identifier}\'}')}" class="btn btn-default">Show diff for group</a>
                        </div>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>

</f:section>
