<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">

    <div class="row">
        <div class="col-lg-12">

            <h1>Backend Permissions</h1>

            <div class="accordion" id="accordionExample">
                <f:for each="{beGroups}" as="group">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#be_group_{group.identifier}" aria-expanded="false" aria-controls="collapseOne">
                                {group.title}
                            </button>
                        </h2>
                        <div id="be_group_{group.identifier}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <f:link.action action="detail" class="btn btn-primary" arguments="{identifier: '{group.identifier}'}">Show diff for group</f:link.action>
                            </div>
                        </div>
                    </div>

                </f:for>
            </div>
        </div>
    </div>

</f:section>
